/* nav related style */
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;

}
/* common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;

}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 35px;

}
.text-primary{
    color:#FD6E0A ;
}
.nav-title {
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#181818; ;
}